# Feature Engineering 

After exploring the data, we proceed with feature engineering.  
We create new features that are more meaningful and have a direct relation with the target (`trip_duration_min`), such as:

- **Distances**: `haversine_km`, `manhattan_km`
- **Directions & Speed**: `bearing_deg`, `speed_kmh`
- **Datetime-based features**: `hour`, `is_weekend`, `is_rush_hour`, `weekday_*`, `month_*`

All these functions are organized in the `features` module.  
After applying them, we save the processed dataset for modeling.

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Importing the important libraries, loading the dataset, and taking a first look at it

In [99]:
import sys
import os

# Allow Python to access the src folder
sys.path.append(os.path.abspath(os.path.join("..", "src")))

# Now you can import the modules
from features.distances import add_distance_features
from features.timeparts import add_time_features
from features.encoding import add_one_hot_encoding
from data.Data_helper import save_processed_data

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
df = pd.read_csv(r"G:\ML mostafa saad\slides\my work\13 Project 1 - Regression - Trip Duration Prediction\data\raw\train.csv")

print(df.shape)
print(df.head())
print(df.info())

(1000000, 10)
          id  vendor_id      pickup_datetime  passenger_count  \
0  id2793718          2  2016-06-08 07:36:19                1
1  id3485529          2  2016-04-03 12:58:11                1
2  id1816614          2  2016-06-05 02:49:13                5
3  id1050851          2  2016-05-05 17:18:27                2
4  id0140657          1  2016-05-12 17:43:38                4

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
0        -73.985611        40.735943         -73.980331         40.760468
1        -73.978394        40.764351         -73.991623         40.749859
2        -73.989059        40.744389         -73.973381         40.748692
3        -73.990326        40.731136         -73.991264         40.748917
4        -73.789497        40.646675         -73.987137         40.759232

  store_and_fwd_flag  trip_duration
0                  N           1040
1                  N            827
2                  N            614
3                  N            867
4                  N           4967
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1000000 non-null  object
 1   vendor_id           1000000 non-null  int64
 2   pickup_datetime     1000000 non-null  object
 3   passenger_count     1000000 non-null  int64
 4   pickup_longitude    1000000 non-null  float64
 5   pickup_latitude     1000000 non-null  float64
 6   dropoff_longitude   1000000 non-null  float64
 7   dropoff_latitude    1000000 non-null  float64
 8   store_and_fwd_flag  1000000 non-null  object
 9   trip_duration       1000000 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 76.3+ MB
None

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Why We Need Feature Engineering  

From the initial EDA, we noticed that the raw dataset is not expressive enough to directly capture the relationship with our target variable (trip duration).  
Therefore, we need to create new **domain-related features** that are more meaningful.  

Examples:  
- **Distance Features**: Haversine distance, Manhattan distance  
- **Direction & Speed Features**: Bearing, average speed (km/h)  
- **Datetime Features**: Extracting hour, day of week, month, weekend/weekday, rush hours  

All these feature engineering steps will be implemented using our organized functions inside the `src\features` module.

In [79]:
#  Feature Ideas Generation ====


# Make sure df is defined
df['trip_duration_min'] = df['trip_duration'] / 60
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# 1. Distance-based features
df = add_distance_features(df)

# 2. Time-based features (using pickup_datetime)
df = add_time_features(df, datetime_col="pickup_datetime")

print("\n Columns after add_distance_features:")
print(df.columns.tolist())

# 3. Quick check
print("\n✅ Features added successfully!")
print(df.info())
print(df.head(10)[[
    "trip_duration_min", 
    "haversine_km", "manhattan_km", "bearing_deg",
    "hour", "weekday", "month", "is_weekend", "is_rush_hour"
]])
print(df[["trip_duration_min", "haversine_km", "manhattan_km", "speed_kmh", "bearing_deg"]].head())

✅ add_distance_features: 1000000/1000000 rows got valid speed_kmh

 Columns after add_distance_features:
['id', 'vendor_id', 'pickup_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag', 'trip_duration', 'trip_duration_min', 'haversine_km', 'manhattan_km', 'bearing_deg', 'speed_kmh', 'hour', 'weekday', 'month', 'is_weekend', 'is_rush_hour']

✅ Features added successfully!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 20 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1000000 non-null  object
 1   vendor_id           1000000 non-null  int64
 2   pickup_datetime     1000000 non-null  datetime64[ns]
 3   passenger_count     1000000 non-null  int64
 4   pickup_longitude    1000000 non-null  float64
 5   pickup_latitude     1000000 non-null  float64
 6   dropoff_longitude   1000000 non-null  float64
 7   dropoff_latitude    1000000 non-null  float64
 8   store_and_fwd_flag  1000000 non-null  object
 9   trip_duration       1000000 non-null  int64
 10  trip_duration_min   1000000 non-null  float64
 11  haversine_km        1000000 non-null  float64
 12  manhattan_km        1000000 non-null  float64
 13  bearing_deg         1000000 non-null  float64
 14  speed_kmh           1000000 non-null  float64
 15  hour                1000000 non-null  int32
 16  weekday             1000000 non-null  int32
 17  month               1000000 non-null  int32
 18  is_weekend          1000000 non-null  int64
 19  is_rush_hour        1000000 non-null  int64
dtypes: datetime64[ns](1), float64(9), int32(3), int64(5), object(2)
memory usage: 141.1+ MB
None
   trip_duration_min  haversine_km  manhattan_km  bearing_deg  hour  weekday  \
0          17.333333      2.763050      3.171686     9.261031     7        2
1          13.783333      1.959178      2.725851  -145.332373    12        6
2          10.233333      1.404772      1.799203    70.081271     2        6
3          14.450000      1.978660      2.056131    -2.289677    17        3
4          82.783333     20.837745     29.162023   -53.020809    17        3
5           6.233333      0.624626      0.759648   104.308804    12        3
6          20.866667      2.629912      3.208828    14.628871    21        3
7           2.466667      0.723740      0.900451    16.613246     6        4
8          24.983333      6.385009      8.848737  -146.518833    14        1
9          16.950000      7.805270     10.398689    25.411140    23        1

   month  is_weekend  is_rush_hour
0      6           0             0
1      4           1             0
2      6           1             0
3      5           0             1
4      5           0             1
5      4           0             0
6      3           0             1
7      2           0             0
8      3           0             0
9      3           0             0
   trip_duration_min  haversine_km  manhattan_km  speed_kmh  bearing_deg
0          17.333333      2.763050      3.171686   9.564402     9.261031
1          13.783333      1.959178      2.725851   8.528467  -145.332373
2          10.233333      1.404772      1.799203   8.236447    70.081271
3          14.450000      1.978660      2.056131   8.215888    -2.289677
4          82.783333     20.837745     29.162023  15.102855   -53.020809

## Insights from the New Features
    Now, after adding the new features and exploring some of them,  
    we can say they are more logical and meaningful.  

    - Larger distances lead to higher trip durations.  
    - For two equal distances, the higher speed results in a shorter duration.

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Target Variable Distribution and Log Transformation

The target data is slightly **skewed**, meaning its distribution is not perfectly normal.  
To handle this, we can apply a **Log Transformation** to make the distribution closer to normal.

Assuming 'id' is not needed for modeling and we extracted all features we need from pickup_datetime so we should delete them as the model can't handle non-numerical data

In [80]:
# we don't need the original trip_duration column anymore
print("\nDropping the original trip_duration column...")
print("Before dropping:", df.shape)
df = df.drop(columns=["trip_duration"])
df = df.drop(columns=["id"])  # Assuming 'id' is not needed for modeling
df = df.drop(columns=["pickup_datetime"])

print("After dropping:", df.shape)

Dropping the original trip_duration column...
Before dropping: (1000000, 20)
After dropping: (1000000, 17)

In [81]:
df["log_trip_duration_min"] = np.log1p(df["trip_duration_min"])
print (df.head(10))

   vendor_id  passenger_count  pickup_longitude  pickup_latitude  \
0          2                1        -73.985611        40.735943
1          2                1        -73.978394        40.764351
2          2                5        -73.989059        40.744389
3          2                2        -73.990326        40.731136
4          1                4        -73.789497        40.646675
5          2                3        -73.969833        40.768570
6          2                1        -73.988419        40.760006
7          1                1        -73.987854        40.749695
8          2                1        -73.955017        40.764462
9          1                1        -73.971535        40.794827

   dropoff_longitude  dropoff_latitude store_and_fwd_flag  trip_duration_min  \
0         -73.980331         40.760468                  N          17.333333
1         -73.991623         40.749859                  N          13.783333
2         -73.973381         40.748692                  N          10.233333
3         -73.991264         40.748917                  N          14.450000
4         -73.987137         40.759232                  N          82.783333
5         -73.962646         40.767181                  N           6.233333
6         -73.980530         40.782890                  N          20.866667
7         -73.985397         40.755932                  N           2.466667
8         -73.996811         40.716560                  N          24.983333
9         -73.931709         40.858223                  N          16.950000

   haversine_km  manhattan_km  bearing_deg  speed_kmh  hour  weekday  month  \
0      2.763050      3.171686     9.261031   9.564402     7        2      6
1      1.959178      2.725851  -145.332373   8.528467    12        6      4
2      1.404772      1.799203    70.081271   8.236447     2        6      6
3      1.978660      2.056131    -2.289677   8.215888    17        3      5
4     20.837745     29.162023   -53.020809  15.102855    17        3      5
5      0.624626      0.759648   104.308804   6.012439    12        3      4
6      2.629912      3.208828    14.628871   7.562047    21        3      3
7      0.723740      0.900451    16.613246  17.604497     6        4      2
8      6.385009      8.848737  -146.518833  15.334245    14        1      3
9      7.805270     10.398689    25.411140  27.629275    23        1      3

   is_weekend  is_rush_hour  log_trip_duration_min
0           0             0               2.908721
1           1             0               2.693500
2           1             0               2.418886
3           0             1               2.737609
4           0             1               4.428234
5           0             0               1.978700
6           0             1               3.084963
7           0             0               1.243194
8           0             0               3.257455
9           0             0               2.887590

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### One-Hot Encoding for Categorical Variables  

In our dataset, we have some categorical columns that are **not numeric** or **not ordinal**:  

- `vendor_id`  
- `store_and_fwd_flag`  
- `hour`  
- `weekday`  
- `month`  

Machine learning models cannot directly handle text values or numbers that do not represent a true order.  
If we keep them as plain numbers (1, 2, 3 …), the model may incorrectly assume there is an **order or distance** between them.  

#### Why One-Hot Encoding?  
- Converts each category into a **new binary column (0 or 1)**.  
- Prevents the model from assuming a false relationship between categories.  
- Makes categorical data more interpretable for the model.  

#### Example:  
For `vendor_id` (values: 1 or 2), after encoding we get:  
- New column: `vendor_id_2`  
- Value = 1 if vendor_id = 2  
- Value = 0 if vendor_id = 1  

This way, the categorical features are represented in a clear and model-friendly format.

In [82]:
df = add_one_hot_encoding(df)
print(df.columns.tolist())

print(df.head(10))

['passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'trip_duration_min', 'haversine_km', 'manhattan_km', 'bearing_deg', 'speed_kmh', 'hour', 'is_weekend', 'is_rush_hour', 'log_trip_duration_min', 'vendor_id_1', 'vendor_id_2', 'store_and_fwd_flag_N', 'store_and_fwd_flag_Y', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6']
   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.985611        40.735943         -73.980331
1                1        -73.978394        40.764351         -73.991623
2                5        -73.989059        40.744389         -73.973381
3                2        -73.990326        40.731136         -73.991264
4                4        -73.789497        40.646675         -73.987137
5                3        -73.969833        40.768570         -73.962646
6                1        -73.988419        40.760006         -73.980530
7                1        -73.987854        40.749695         -73.985397
8                1        -73.955017        40.764462         -73.996811
9                1        -73.971535        40.794827         -73.931709

   dropoff_latitude  trip_duration_min  haversine_km  manhattan_km  \
0         40.760468          17.333333      2.763050      3.171686
1         40.749859          13.783333      1.959178      2.725851
2         40.748692          10.233333      1.404772      1.799203
3         40.748917          14.450000      1.978660      2.056131
4         40.759232          82.783333     20.837745     29.162023
5         40.767181           6.233333      0.624626      0.759648
6         40.782890          20.866667      2.629912      3.208828
7         40.755932           2.466667      0.723740      0.900451
8         40.716560          24.983333      6.385009      8.848737
9         40.858223          16.950000      7.805270     10.398689

   bearing_deg  speed_kmh  ...  weekday_3  weekday_4  weekday_5  weekday_6  \
0     9.261031   9.564402  ...      False      False      False      False
1  -145.332373   8.528467  ...      False      False      False       True
2    70.081271   8.236447  ...      False      False      False       True
3    -2.289677   8.215888  ...       True      False      False      False
4   -53.020809  15.102855  ...       True      False      False      False
5   104.308804   6.012439  ...       True      False      False      False
6    14.628871   7.562047  ...       True      False      False      False
7    16.613246  17.604497  ...      False       True      False      False
8  -146.518833  15.334245  ...      False      False      False      False
9    25.411140  27.629275  ...      False      False      False      False

   month_1  month_2  month_3  month_4  month_5  month_6
0    False    False    False    False    False     True
1    False    False    False     True    False    False
2    False    False    False    False    False     True
3    False    False    False    False     True    False
4    False    False    False    False     True    False
5    False    False    False     True    False    False
6    False    False     True    False    False    False
7    False     True    False    False    False    False
8    False    False     True    False    False    False
9    False    False     True    False    False    False

[10 rows x 31 columns]

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Save Processed Data
Next step: Use the processed file in the notebook for further exploration of correlations and insights.

In [83]:
save_processed_data(df, r"G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/train_processed.csv")

 Processed data saved to G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/train_processed.csv

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Take a look just to check

In [84]:
path = "G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/train_processed.csv"
df_processed = pd.read_csv(path)
df_processed.head()
print(df_processed.shape)
print(df_processed.info())
df_processed.describe()

(1000000, 31)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 31 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   passenger_count        1000000 non-null  int64
 1   pickup_longitude       1000000 non-null  float64
 2   pickup_latitude        1000000 non-null  float64
 3   dropoff_longitude      1000000 non-null  float64
 4   dropoff_latitude       1000000 non-null  float64
 5   trip_duration_min      1000000 non-null  float64
 6   haversine_km           1000000 non-null  float64
 7   manhattan_km           1000000 non-null  float64
 8   bearing_deg            1000000 non-null  float64
 9   speed_kmh              1000000 non-null  float64
 10  hour                   1000000 non-null  int64
 11  is_weekend             1000000 non-null  int64
 12  is_rush_hour           1000000 non-null  int64
 13  log_trip_duration_min  1000000 non-null  float64
 14  vendor_id_1            1000000 non-null  bool
 15  vendor_id_2            1000000 non-null  bool
 16  store_and_fwd_flag_N   1000000 non-null  bool
 17  store_and_fwd_flag_Y   1000000 non-null  bool
 18  weekday_0              1000000 non-null  bool
 19  weekday_1              1000000 non-null  bool
 20  weekday_2              1000000 non-null  bool
 21  weekday_3              1000000 non-null  bool
 22  weekday_4              1000000 non-null  bool
 23  weekday_5              1000000 non-null  bool
 24  weekday_6              1000000 non-null  bool
 25  month_1                1000000 non-null  bool
 26  month_2                1000000 non-null  bool
 27  month_3                1000000 non-null  bool
 28  month_4                1000000 non-null  bool
 29  month_5                1000000 non-null  bool
 30  month_6                1000000 non-null  bool
dtypes: bool(17), float64(10), int64(4)
memory usage: 123.0 MB
None

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration_min,haversine_km,manhattan_km,bearing_deg,speed_kmh,hour,is_weekend,is_rush_hour,log_trip_duration_min
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,1.665353,-73.973475,40.750947,-73.973421,40.751829,15.914750,3.439099,4.444066,-15.768007,14.428394,13.604165,0.285775,0.428937,2.488104
std,1.315723,0.065404,0.033745,0.065432,0.035782,64.701169,4.424258,5.806581,104.460439,16.575388,6.400685,0.451783,0.494925,0.694773
min,0.000000,-121.933342,34.359695,-121.933304,34.359695,0.016667,0.000000,0.000000,-179.992701,0.000000,0.000000,0.000000,0.000000,0.016529
25%,1.000000,-73.991852,40.737372,-73.991341,40.735928,6.616667,1.232068,1.570859,-125.293788,9.118796,9.000000,0.000000,0.000000,2.030339
50%,1.000000,-73.981728,40.754131,-73.979767,40.754551,11.033333,2.091231,2.685980,8.043926,12.787544,14.000000,0.000000,0.000000,2.487681
75%,2.000000,-73.967346,40.768379,-73.963036,40.769833,17.900000,3.871264,4.993929,53.263991,17.842133,19.000000,1.000000,1.000000,2.939162
max,7.000000,-61.335529,51.881084,-61.335529,43.921028,37126.866667,1240.908677,1336.846365,180.000000,9274.836731,23.000000,1.000000,1.000000,10.522123

"I noticed that there are some unrealistic values, like a trip duration reaching 40 days. These are likely outliers, and we need to detect and handle them."

In [85]:
columns = ['trip_duration_min', 'haversine_km', 'manhattan_km', 'speed_kmh']

factor = 2  #  → You can increase to 2.5 if you want to reduce stricter

for col in columns:
    Q1 = df_processed[col].quantile(0.25)
    Q3 = df_processed[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - factor * IQR
    upper = Q3 + factor * IQR
    outliers = df_processed[(df_processed[col] < lower) | (df_processed[col] > upper)]
    print(f"{col}: {len(outliers)} outliers ({len(outliers)/len(df_processed)*100:.2f}%)")

trip_duration_min: 32602 outliers (3.26%)
haversine_km: 75358 outliers (7.54%)
manhattan_km: 66786 outliers (6.68%)
speed_kmh: 22601 outliers (2.26%)

## This is the percentage of examples with clear outliers  
From this percentage, I think it’s not that high, so it’s better to remove them

In [86]:
columns = ['trip_duration_min', 'haversine_km', 'manhattan_km', 'speed_kmh']

factor = 2 # You can increase to 2.5 if you want to reduce stricter

df_clean = df_processed.copy()
original_rows = len(df_clean)

for col in columns:
    Q1 = df_clean[col].quantile(0.25)
    Q3 = df_clean[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - factor * IQR
    upper = Q3 + factor * IQR
    df_clean = df_clean[(df_clean[col] >= lower) & (df_clean[col] <= upper)]

cleaned_rows = len(df_clean)
deleted_rows = original_rows - cleaned_rows
deleted_percent = deleted_rows / original_rows * 100



print(f"Original rows: {original_rows}")
print(f"Cleaned rows: {cleaned_rows}")
print(f"Deleted rows: {deleted_rows} ({deleted_percent:.2f}%)")

Original rows: 1000000
Cleaned rows: 873396
Deleted rows: 126604 (12.66%)

In [87]:
# Train
train_min = df_clean['log_trip_duration_min'].min()
train_max = df_clean['log_trip_duration_min'].max()
print(f"Train log_trip_duration_min: min={train_min}, max={train_max}")

Train log_trip_duration_min: min=0.0165293019512105, max=3.724487881581304

We should also trnsform any boolien values to make it easier for the model

In [88]:
bool_cols = df_clean.select_dtypes(include='bool').columns

df_clean[bool_cols] = df_clean[bool_cols].astype(int)
df_clean[bool_cols] = df_clean[bool_cols].astype(int)

In [89]:
df_clean.head()
print(df_clean.shape)
print(df_clean.info())
df_clean.describe()

(873396, 31)
<class 'pandas.core.frame.DataFrame'>
Index: 873396 entries, 0 to 999999
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   passenger_count        873396 non-null  int64
 1   pickup_longitude       873396 non-null  float64
 2   pickup_latitude        873396 non-null  float64
 3   dropoff_longitude      873396 non-null  float64
 4   dropoff_latitude       873396 non-null  float64
 5   trip_duration_min      873396 non-null  float64
 6   haversine_km           873396 non-null  float64
 7   manhattan_km           873396 non-null  float64
 8   bearing_deg            873396 non-null  float64
 9   speed_kmh              873396 non-null  float64
 10  hour                   873396 non-null  int64
 11  is_weekend             873396 non-null  int64
 12  is_rush_hour           873396 non-null  int64
 13  log_trip_duration_min  873396 non-null  float64
 14  vendor_id_1            873396 non-null  int64
 15  vendor_id_2            873396 non-null  int64
 16  store_and_fwd_flag_N   873396 non-null  int64
 17  store_and_fwd_flag_Y   873396 non-null  int64
 18  weekday_0              873396 non-null  int64
 19  weekday_1              873396 non-null  int64
 20  weekday_2              873396 non-null  int64
 21  weekday_3              873396 non-null  int64
 22  weekday_4              873396 non-null  int64
 23  weekday_5              873396 non-null  int64
 24  weekday_6              873396 non-null  int64
 25  month_1                873396 non-null  int64
 26  month_2                873396 non-null  int64
 27  month_3                873396 non-null  int64
 28  month_4                873396 non-null  int64
 29  month_5                873396 non-null  int64
 30  month_6                873396 non-null  int64
dtypes: float64(10), int64(21)
memory usage: 213.2 MB
None

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration_min,haversine_km,manhattan_km,bearing_deg,speed_kmh,...,weekday_3,weekday_4,weekday_5,weekday_6,month_1,month_2,month_3,month_4,month_5,month_6
count,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,...,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000,873396.000000
mean,1.661807,-73.979676,40.752901,-73.978030,40.752866,11.522303,2.290994,2.940740,-16.525115,12.767369,...,0.149910,0.153335,0.154153,0.130881,0.158468,0.165098,0.176172,0.172328,0.168677,0.159257
std,1.314189,0.060098,0.026965,0.060545,0.028992,6.996582,1.542302,1.983405,105.290701,5.679450,...,0.356984,0.360310,0.361096,0.337270,0.365179,0.371269,0.380967,0.377666,0.374467,0.365915
min,0.000000,-121.933342,34.359695,-121.933304,34.359695,0.016667,0.000000,0.000000,-179.991787,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,-73.992172,40.738670,-73.991699,40.738014,6.250000,1.152322,1.465313,-130.006434,8.723518,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,-73.982224,40.754246,-73.980942,40.754616,10.033333,1.861010,2.386704,7.435483,11.976896,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,-73.969833,40.767700,-73.967133,40.768742,15.283333,3.033323,3.909568,52.079819,16.068112,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,7.000000,-61.335529,43.911762,-61.335529,43.911762,40.450000,8.414595,9.276746,180.000000,31.431036,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [90]:
save_processed_data(df_clean, r"G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/train_processed_filtered.csv")

 Processed data saved to G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/train_processed_filtered.csv

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Preparing Validation and Test Data

We’ve finished cleaning and feature engineering for the training data.  
Now we need to apply the same transformations to the validation and test sets, **without changing values or removing rows**.  

Steps to apply:  
- Add the same **features** created in the training set.  
- Apply the same **encoding** for categorical variables.  
- Add the same **new columns** (feature engineering).   

**Reason:**  
This ensures the model is evaluated on unseen data while keeping consistency between training, validation, and test sets.

In [91]:
df_val = pd.read_csv(r"G:\ML mostafa saad\slides\my work\13 Project 1 - Regression - Trip Duration Prediction\data\raw\val.csv")
df_test = pd.read_csv(r"G:\ML mostafa saad\slides\my work\13 Project 1 - Regression - Trip Duration Prediction\data\raw\test.csv")



df_val = df_val.drop(columns=["id"])  # Assuming 'id' is not needed for modeling
df_test = df_test.drop(columns=["id"])  # Assuming 'id' is not needed for modeling



print(df_val.shape)
print(df_val.head())
print(df_val.info())

print(df_test.shape)
print(df_test.head())
print(df_test.info())

(229319, 9)
   vendor_id      pickup_datetime  passenger_count  pickup_longitude  \
0          1  2016-01-10 16:01:46                1        -74.013916
1          1  2016-06-23 18:41:05                1        -74.005440
2          1  2016-05-14 21:25:34                1        -73.987587
3          2  2016-05-02 20:09:00                1        -73.973862
4          1  2016-05-19 10:01:39                1        -73.999916

   pickup_latitude  dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
0        40.713444         -73.993858         40.752510                  N
1        40.727306         -73.983063         40.734715                  N
2        40.749863         -73.986809         40.757549                  N
3        40.784153         -73.983025         40.774479                  N
4        40.733101         -74.008331         40.734177                  N

   trip_duration
0           1249
1            817
2            366
3            195
4            283
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229319 entries, 0 to 229318
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   vendor_id           229319 non-null  int64
 1   pickup_datetime     229319 non-null  object
 2   passenger_count     229319 non-null  int64
 3   pickup_longitude    229319 non-null  float64
 4   pickup_latitude     229319 non-null  float64
 5   dropoff_longitude   229319 non-null  float64
 6   dropoff_latitude    229319 non-null  float64
 7   store_and_fwd_flag  229319 non-null  object
 8   trip_duration       229319 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 15.7+ MB
None
(229322, 9)
   vendor_id      pickup_datetime  passenger_count  pickup_longitude  \
0          1  2016-03-23 02:24:50                1        -73.988609
1          1  2016-05-08 19:00:03                2        -74.012787
2          2  2016-01-30 19:51:17                1        -73.968391
3          2  2016-03-03 14:42:51                2        -73.991753
4          2  2016-03-21 20:12:03                1        -73.862984

   pickup_latitude  dropoff_longitude  dropoff_latitude store_and_fwd_flag  \
0        40.748978         -73.992798         40.763409                  N
1        40.715820         -74.002220         40.740219                  N
2        40.768036         -73.990997         40.760632                  N
3        40.738033         -73.863556         40.767456                  N
4        40.769592         -73.989059         40.758305                  N

   trip_duration
0            437
1            676
2           1033
3           3194
4           1328
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229322 entries, 0 to 229321
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   vendor_id           229322 non-null  int64
 1   pickup_datetime     229322 non-null  object
 2   passenger_count     229322 non-null  int64
 3   pickup_longitude    229322 non-null  float64
 4   pickup_latitude     229322 non-null  float64
 5   dropoff_longitude   229322 non-null  float64
 6   dropoff_latitude    229322 non-null  float64
 7   store_and_fwd_flag  229322 non-null  object
 8   trip_duration       229322 non-null  int64
dtypes: float64(4), int64(3), object(2)
memory usage: 15.7+ MB
None

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [92]:
#  Add distance features
df_val = add_distance_features(df_val)
df_test = add_distance_features(df_test)

#  Add time-based features
df_val = add_time_features(df_val)
df_test = add_time_features(df_test)

df_val = df_val.drop(columns=["pickup_datetime"])  
df_test = df_test.drop(columns=["pickup_datetime"])

# Convert trip duration to minutes
df_val['trip_duration_min']   = df_val['trip_duration'] / 60
df_test['trip_duration_min']  = df_test['trip_duration'] / 60

# Drop the original trip_duration column
df_val = df_val.drop(columns=["trip_duration"])
df_test = df_test.drop(columns=["trip_duration"])

#  Apply one-hot encoding using the same columns as in train
df_val = add_one_hot_encoding(df_val)
df_test = add_one_hot_encoding(df_test)

✅ add_distance_features: 229319/229319 rows got valid speed_kmh
✅ add_distance_features: 229322/229322 rows got valid speed_kmh

We have to cut the outliers in same range as we did for the train dataset

In [93]:
columns = ['trip_duration_min', 'haversine_km', 'manhattan_km', 'speed_kmh']
factor = 2  

df_val_clean = df_val.copy()
original_rows = len(df_val_clean)

for col in columns:
    Q1 = df_val_clean[col].quantile(0.25)
    Q3 = df_val_clean[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - factor * IQR
    upper = Q3 + factor * IQR
    df_val_clean = df_val_clean[(df_val_clean[col] >= lower) & (df_val_clean[col] <= upper)]

cleaned_rows = len(df_val_clean)
deleted_rows = original_rows - cleaned_rows
deleted_percent = deleted_rows / original_rows * 100

print(f"Original rows: {original_rows}")
print(f"Cleaned rows: {cleaned_rows}")
print(f"Deleted rows: {deleted_rows} ({deleted_percent:.2f}%)")

Original rows: 229319
Cleaned rows: 200134
Deleted rows: 29185 (12.73%)

We should also trnsform any boolien values to make it easier for the model

In [94]:

df["log_trip_duration_min"] = np.log1p(df["trip_duration_min"])
print (df.head(10))

bool_cols = df_val_clean.select_dtypes(include='bool').columns
bool_cols2 = df_test.select_dtypes(include='bool').columns
df_val[bool_cols] = df_val_clean[bool_cols].astype(int)
df_test[bool_cols2] = df_test[bool_cols].astype(int)

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.985611        40.735943         -73.980331
1                1        -73.978394        40.764351         -73.991623
2                5        -73.989059        40.744389         -73.973381
3                2        -73.990326        40.731136         -73.991264
4                4        -73.789497        40.646675         -73.987137
5                3        -73.969833        40.768570         -73.962646
6                1        -73.988419        40.760006         -73.980530
7                1        -73.987854        40.749695         -73.985397
8                1        -73.955017        40.764462         -73.996811
9                1        -73.971535        40.794827         -73.931709

   dropoff_latitude  trip_duration_min  haversine_km  manhattan_km  \
0         40.760468          17.333333      2.763050      3.171686
1         40.749859          13.783333      1.959178      2.725851
2         40.748692          10.233333      1.404772      1.799203
3         40.748917          14.450000      1.978660      2.056131
4         40.759232          82.783333     20.837745     29.162023
5         40.767181           6.233333      0.624626      0.759648
6         40.782890          20.866667      2.629912      3.208828
7         40.755932           2.466667      0.723740      0.900451
8         40.716560          24.983333      6.385009      8.848737
9         40.858223          16.950000      7.805270     10.398689

   bearing_deg  speed_kmh  ...  weekday_3  weekday_4  weekday_5  weekday_6  \
0     9.261031   9.564402  ...      False      False      False      False
1  -145.332373   8.528467  ...      False      False      False       True
2    70.081271   8.236447  ...      False      False      False       True
3    -2.289677   8.215888  ...       True      False      False      False
4   -53.020809  15.102855  ...       True      False      False      False
5   104.308804   6.012439  ...       True      False      False      False
6    14.628871   7.562047  ...       True      False      False      False
7    16.613246  17.604497  ...      False       True      False      False
8  -146.518833  15.334245  ...      False      False      False      False
9    25.411140  27.629275  ...      False      False      False      False

   month_1  month_2  month_3  month_4  month_5  month_6
0    False    False    False    False    False     True
1    False    False    False     True    False    False
2    False    False    False    False    False     True
3    False    False    False    False     True    False
4    False    False    False    False     True    False
5    False    False    False     True    False    False
6    False    False     True    False    False    False
7    False     True    False    False    False    False
8    False    False     True    False    False    False
9    False    False     True    False    False    False

[10 rows x 31 columns]

In [95]:
print(df_val_clean.shape)
print(df_val_clean.head())
print(df_val_clean.info())

print(df_val_clean.columns.tolist())

(200134, 30)
   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -74.013916        40.713444         -73.993858
1                1        -74.005440        40.727306         -73.983063
2                1        -73.987587        40.749863         -73.986809
3                1        -73.973862        40.784153         -73.983025
4                1        -73.999916        40.733101         -74.008331

   dropoff_latitude  haversine_km  manhattan_km  bearing_deg  speed_kmh  hour  \
0         40.752510      4.661154      6.033519    21.252151  13.434872    16
1         40.734715      2.057606      2.709162    66.393091   9.066564    18
2         40.757549      0.857222      0.920259     4.385297   8.431697    21
3         40.774479      1.323778      1.847282  -144.348180  24.438978    20
4         40.734177      0.719070      0.828662   -80.421578   9.147176    10

   ...  weekday_3  weekday_4  weekday_5  weekday_6  month_1  month_2  month_3  \
0  ...      False      False      False       True     True    False    False
1  ...       True      False      False      False    False    False    False
2  ...      False      False       True      False    False    False    False
3  ...      False      False      False      False    False    False    False
4  ...       True      False      False      False    False    False    False

   month_4  month_5  month_6
0    False    False    False
1    False    False     True
2    False     True    False
3    False     True    False
4    False     True    False

[5 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 200134 entries, 0 to 229318
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   passenger_count       200134 non-null  int64
 1   pickup_longitude      200134 non-null  float64
 2   pickup_latitude       200134 non-null  float64
 3   dropoff_longitude     200134 non-null  float64
 4   dropoff_latitude      200134 non-null  float64
 5   haversine_km          200134 non-null  float64
 6   manhattan_km          200134 non-null  float64
 7   bearing_deg           200134 non-null  float64
 8   speed_kmh             200134 non-null  float64
 9   hour                  200134 non-null  int32
 10  is_weekend            200134 non-null  int64
 11  is_rush_hour          200134 non-null  int64
 12  trip_duration_min     200134 non-null  float64
 13  vendor_id_1           200134 non-null  bool
 14  vendor_id_2           200134 non-null  bool
 15  store_and_fwd_flag_N  200134 non-null  bool
 16  store_and_fwd_flag_Y  200134 non-null  bool
 17  weekday_0             200134 non-null  bool
 18  weekday_1             200134 non-null  bool
 19  weekday_2             200134 non-null  bool
 20  weekday_3             200134 non-null  bool
 21  weekday_4             200134 non-null  bool
 22  weekday_5             200134 non-null  bool
 23  weekday_6             200134 non-null  bool
 24  month_1               200134 non-null  bool
 25  month_2               200134 non-null  bool
 26  month_3               200134 non-null  bool
 27  month_4               200134 non-null  bool
 28  month_5               200134 non-null  bool
 29  month_6               200134 non-null  bool
dtypes: bool(17), float64(9), int32(1), int64(3)
memory usage: 27.9 MB
None
['passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'haversine_km', 'manhattan_km', 'bearing_deg', 'speed_kmh', 'hour', 'is_weekend', 'is_rush_hour', 'trip_duration_min', 'vendor_id_1', 'vendor_id_2', 'store_and_fwd_flag_N', 'store_and_fwd_flag_Y', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6']

In [96]:
print(df_test.shape)
print(df_test.head())
print(df_test.info())
print(df_test.columns.tolist())

(229322, 30)
   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.988609        40.748978         -73.992798
1                2        -74.012787        40.715820         -74.002220
2                1        -73.968391        40.768036         -73.990997
3                2        -73.991753        40.738033         -73.863556
4                1        -73.862984        40.769592         -73.989059

   dropoff_latitude  haversine_km  manhattan_km  bearing_deg  speed_kmh  hour  \
0         40.763409      1.642979      1.957414   -12.398378  13.534841     2
1         40.740219      2.855402      3.603266    18.166238  15.206281    19
2         40.760632      2.074249      2.727281  -113.378772   7.228749    19
3         40.767456     11.283243     14.067781    73.102749  12.717493    14
4         40.758305     10.691987     11.874097   -96.700340  28.984303    20

   ...  weekday_3  weekday_4  weekday_5  weekday_6  month_1  month_2  month_3  \
0  ...          0          0          0          0        0        0        1
1  ...          0          0          0          1        0        0        0
2  ...          0          0          1          0        1        0        0
3  ...          1          0          0          0        0        0        1
4  ...          0          0          0          0        0        0        1

   month_4  month_5  month_6
0        0        0        0
1        0        1        0
2        0        0        0
3        0        0        0
4        0        0        0

[5 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229322 entries, 0 to 229321
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   passenger_count       229322 non-null  int64
 1   pickup_longitude      229322 non-null  float64
 2   pickup_latitude       229322 non-null  float64
 3   dropoff_longitude     229322 non-null  float64
 4   dropoff_latitude      229322 non-null  float64
 5   haversine_km          229322 non-null  float64
 6   manhattan_km          229322 non-null  float64
 7   bearing_deg           229322 non-null  float64
 8   speed_kmh             229322 non-null  float64
 9   hour                  229322 non-null  int32
 10  is_weekend            229322 non-null  int64
 11  is_rush_hour          229322 non-null  int64
 12  trip_duration_min     229322 non-null  float64
 13  vendor_id_1           229322 non-null  int64
 14  vendor_id_2           229322 non-null  int64
 15  store_and_fwd_flag_N  229322 non-null  int64
 16  store_and_fwd_flag_Y  229322 non-null  int64
 17  weekday_0             229322 non-null  int64
 18  weekday_1             229322 non-null  int64
 19  weekday_2             229322 non-null  int64
 20  weekday_3             229322 non-null  int64
 21  weekday_4             229322 non-null  int64
 22  weekday_5             229322 non-null  int64
 23  weekday_6             229322 non-null  int64
 24  month_1               229322 non-null  int64
 25  month_2               229322 non-null  int64
 26  month_3               229322 non-null  int64
 27  month_4               229322 non-null  int64
 28  month_5               229322 non-null  int64
 29  month_6               229322 non-null  int64
dtypes: float64(9), int32(1), int64(20)
memory usage: 51.6 MB
None
['passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'haversine_km', 'manhattan_km', 'bearing_deg', 'speed_kmh', 'hour', 'is_weekend', 'is_rush_hour', 'trip_duration_min', 'vendor_id_1', 'vendor_id_2', 'store_and_fwd_flag_N', 'store_and_fwd_flag_Y', 'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6', 'month_1', 'month_2', 'month_3', 'month_4', 'month_5', 'month_6']

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [97]:
df_val_clean["log_trip_duration_min"] = np.log1p(df_val_clean["trip_duration_min"])
df_test["log_trip_duration_min"] = np.log1p(df_test["trip_duration_min"])

print (df.head(10))
val_min =  df_val_clean.copy()['log_trip_duration_min'].min()
val_max = df_val_clean.copy()['log_trip_duration_min'].max()
print(f"Validation log_trip_duration_min: min={val_min}, max={val_max}")

   passenger_count  pickup_longitude  pickup_latitude  dropoff_longitude  \
0                1        -73.985611        40.735943         -73.980331
1                1        -73.978394        40.764351         -73.991623
2                5        -73.989059        40.744389         -73.973381
3                2        -73.990326        40.731136         -73.991264
4                4        -73.789497        40.646675         -73.987137
5                3        -73.969833        40.768570         -73.962646
6                1        -73.988419        40.760006         -73.980530
7                1        -73.987854        40.749695         -73.985397
8                1        -73.955017        40.764462         -73.996811
9                1        -73.971535        40.794827         -73.931709

   dropoff_latitude  trip_duration_min  haversine_km  manhattan_km  \
0         40.760468          17.333333      2.763050      3.171686
1         40.749859          13.783333      1.959178      2.725851
2         40.748692          10.233333      1.404772      1.799203
3         40.748917          14.450000      1.978660      2.056131
4         40.759232          82.783333     20.837745     29.162023
5         40.767181           6.233333      0.624626      0.759648
6         40.782890          20.866667      2.629912      3.208828
7         40.755932           2.466667      0.723740      0.900451
8         40.716560          24.983333      6.385009      8.848737
9         40.858223          16.950000      7.805270     10.398689

   bearing_deg  speed_kmh  ...  weekday_3  weekday_4  weekday_5  weekday_6  \
0     9.261031   9.564402  ...      False      False      False      False
1  -145.332373   8.528467  ...      False      False      False       True
2    70.081271   8.236447  ...      False      False      False       True
3    -2.289677   8.215888  ...       True      False      False      False
4   -53.020809  15.102855  ...       True      False      False      False
5   104.308804   6.012439  ...       True      False      False      False
6    14.628871   7.562047  ...       True      False      False      False
7    16.613246  17.604497  ...      False       True      False      False
8  -146.518833  15.334245  ...      False      False      False      False
9    25.411140  27.629275  ...      False      False      False      False

   month_1  month_2  month_3  month_4  month_5  month_6
0    False    False    False    False    False     True
1    False    False    False     True    False    False
2    False    False    False    False    False     True
3    False    False    False    False     True    False
4    False    False    False    False     True    False
5    False    False    False     True    False    False
6    False    False     True    False    False    False
7    False     True    False    False    False    False
8    False    False     True    False    False    False
9    False    False     True    False    False    False

[10 rows x 31 columns]
Validation log_trip_duration_min: min=0.016529301951210565, max=3.7268975213014572

## Step: Align Validation and Test Files
Now we have standardized the validation and test files to match the training set in terms of columns, without altering the actual column values.

In [98]:
save_processed_data(df_val_clean, r"G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/val_processed.csv")
save_processed_data(df_test, r"G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/test_processed.csv")

 Processed data saved to G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/val_processed.csv
 Processed data saved to G:/ML mostafa saad/slides/my work/13 Project 1 - Regression - Trip Duration Prediction/data/processed/test_processed.csv